*:not(i) {
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0 auto;
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

#username-input {
  border: none;
  height: 40px;
  background: #eeeeee;
  padding: 0 0 0 10px;
}

#username-input:focus {
  outline: none;
}

#username-btn {
  background: #000;
  color: #fff;
  border: none;
  height: 40px;
}

#username-btn:hover {
  cursor: pointer;
  background: #777;
}

#username-element {
  padding: 7px 0;
}

.username-field-container {
  margin-bottom: 20px;
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
}

.username-delete-btn {
  border: none;
  border-radius: 100px;
  color: #000;
  margin-right: 10px;
}

.username-delete-btn:hover {
  cursor: pointer;
  color: #777;
}